<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/globalll.css" />
    <link rel="stylesheet" href="/static/css/about.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chau Philomene One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo Black:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Darker Grotesque:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Black Han Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Amiko:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bellota Text:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aoboshi One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Days One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />

    <style>
      @font-face {
        font-family: "Nico Moji";
        src: url("/static/img/NicoMoji-Regular.ttf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="about12">
      <div class="about-inner">
        <div class="rectangle-parent37">
          <header class="frame-child35"></header>
          <div class="ai-tool-wrapper1">
            <h2 class="ai-tool12">AI-TOOL</h2>
          </div>
          <div class="about-wrapper1">
            <div class="about13">About</div>
          </div>
          <div class="skin-health-a-z-wrapper4">
            <div class="skin-health-a-z12" id="skinHealthAZ">
              Skin Health A-Z
            </div>
          </div>
          <div class="clinical-solution-wrapper4">
            <div class="clinical-solution12" id="clinicalSolutionText">
              Clinical Solution
            </div>
          </div>
        </div>
      </div>
      <main class="frame-parent26">
        <div class="built-for-you-by-the-ai-engine-wrapper">
          <h1 class="built-for-you">Built for you by the AI Engineers</h1>
        </div>
        <div class="frame-parent27">
          <div class="frame-parent28">
            <div class="doctor-clipboard-01-hzstehha-1-wrapper">
              <img
                class="doctor-clipboard-01-hzstehha-1-icon4"
                alt=""
                src="/static/img/doctorclipboard01hzstehha-1@2x.png"
              />
            </div>
            <div class="image-recognition-identify-container">
              <p class="image-recognition-identify-sk">
                <b class="image-recognition">Image recognition:</b>
                <span> Identify skin conditions through image analysis.</span>
              </p>
              <p class="treatment-recommendations-sug">
                <b class="treatment-recommendations"
                  >Treatment recommendations:</b
                >
                <span>
                  Suggest appropriate therapies or interventions for various
                  dermatological conditions.
                </span>
              </p>
              <p class="patient-education-offer-resou">
                <b class="patient-education">Patient education:</b>
                <span>
                  Offer resources and information to educate patients about
                  their skin conditions and treatment options. .</span
                >
              </p>
              <p class="research-support-assist-in-re">
                <b class="research-support">Research support:</b>
                <span>
                  Assist in research by analyzing patterns and trends in
                  dermatological data.</span
                >
              </p>
              <p class="telemedicine-support-facilita">
                <b class="telemedicine-support">Telemedicine support:</b>
                <span>
                  Facilitate remote consultations and diagnoses for patients
                  unable to visit a dermatologist in person.</span
                >
              </p>
              <p class="follow-up-monitoring-track-th">
                <b class="follow-up-monitoring">Follow-up monitoring:</b>
                <span>
                  Track the progress of treatment and provide recommendations
                  for ongoing care.</span
                >
              </p>
            </div>
          </div>
          <footer class="rectangle-parent38">
            <div class="frame-child36"></div>
            <div class="ai-tool13">AI-TOOL</div>
            <div class="about-wrapper2">
              <div class="about14" id="aboutText1">About</div>
            </div>
            <div class="skin-health-a-z-wrapper5">
              <div class="skin-health-a-z13" id="skinHealthAZ1">
                Skin Health A-Z
              </div>
            </div>
            <div class="clinical-solution-wrapper5">
              <div class="clinical-solution13" id="clinicalSolutionText1">
                Clinical Solution
              </div>
            </div>
          </footer>
        </div>
      </main>
      <img
        class="waves-qfantaok-1-icon4"
        loading="lazy"
        alt=""
        src="/static/img/wavesqfantaok-1@2x.png"
      />
    </div>

    <script>
      var skinHealthAZ = document.getElementById("skinHealthAZ");
      if (skinHealthAZ) {
        skinHealthAZ.addEventListener("click", function (e) {
          window.location.href = "./skin-health.html";
        });
      }
      
      var clinicalSolutionText = document.getElementById("clinicalSolutionText");
      if (clinicalSolutionText) {
        clinicalSolutionText.addEventListener("click", function (e) {
          window.location.href = "./upload-photo-8.html";
        });
      }
      
      var aboutText1 = document.getElementById("aboutText1");
      if (aboutText1) {
        aboutText1.addEventListener("click", function (e) {
          window.location.href = "./about.html";
        });
      }
      
      var skinHealthAZ1 = document.getElementById("skinHealthAZ1");
      if (skinHealthAZ1) {
        skinHealthAZ1.addEventListener("click", function (e) {
          window.location.href = "./skin-health.html";
        });
      }
      
      var clinicalSolutionText1 = document.getElementById("clinicalSolutionText1");
      if (clinicalSolutionText1) {
        clinicalSolutionText1.addEventListener("click", function (e) {
          window.location.href = "./upload-photo-8.html";
        });
      }
      </script>
  </body>
</html>
