<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/globalll.css" />
    <link rel="stylesheet" href="/static/css/skin-health.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chau Philomene One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo Black:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Darker Grotesque:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Black Han Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Amiko:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bellota Text:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aoboshi One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Days One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />

    <style>
      @font-face {
        font-family: "Nico Moji";
        src: url("./static/img/NicoMoji-Regular.ttf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="skin-health">
      <footer class="rectangle-parent39">
        <header class="frame-child37"></header>
        <div class="ai-tool-wrapper2">
          <h2 class="ai-tool14">AI-TOOL</h2>
        </div>
        <div class="about-wrapper3">
          <div class="about15" id="aboutText">About</div>
        </div>
        <div class="skin-health-a-z-wrapper6">
          <div class="skin-health-a-z14">Skin Health A-Z</div>
        </div>
        <div class="clinical-solution-wrapper6">
          <div class="clinical-solution14" id="clinicalSolutionText">
            Clinical Solution
          </div>
        </div>
      </footer>
      <section class="skin-health-inner">
        <div class="your-complete-guide-to-skin-he-parent">
          <h1 class="your-complete-guide">
            Your complete guide to skin health
          </h1>
          <div class="find-information-from-experts-wrapper">
            <div class="find-information-from">
              Find information from experts on skin conditional, including
              symptoms, causes, diagnosis, and treatment options.
            </div>
          </div>
          <div class="httpswwwskinhealthinfoorg-wrapper">
            <div
              class="httpswwwskinhealthinfoorg"
              id="httpswwwskinhealthinfoorgText"
            >
              https://www.skinhealthinfo.org.uk/a-z-conditions-treatments/
            </div>
          </div>
        </div>
      </section>
      <section class="waves-qfantaok-1-container">
        <img
          class="waves-qfantaok-1-icon5"
          alt=""
          src="./static/img/wavesqfantaok-1@2x.png"
        />

        <img
          class="doctor-clipboard-01-hzstehha-1-icon5"
          loading="lazy"
          alt=""
          src="./static/img/doctorclipboard01hzstehha-1@2x.png"
        />
      </section>
      <footer class="rectangle-parent40">
        <div class="frame-child38"></div>
        <h2 class="ai-tool15">AI-TOOL</h2>
        <div class="about-wrapper4">
          <div class="about16" id="aboutText1">About</div>
        </div>
        <div class="skin-health-a-z-wrapper7">
          <div class="skin-health-a-z15" id="skinHealthAZ1">
            Skin Health A-Z
          </div>
        </div>
        <div class="clinical-solution-wrapper7">
          <div class="clinical-solution15" id="clinicalSolutionText1">
            Clinical Solution
          </div>
        </div>
      </footer>
    </div>

    <script>
      var aboutText = document.getElementById("aboutText");
      if (aboutText) {
        aboutText.addEventListener("click", function (e) {
          window.location.href = "./about.html";
        });
      }
      
      var clinicalSolutionText = document.getElementById("clinicalSolutionText");
      if (clinicalSolutionText) {
        clinicalSolutionText.addEventListener("click", function (e) {
          window.location.href = "./upload-photo-8.html";
        });
      }
      
      var httpswwwskinhealthinfoorgText = document.getElementById(
        "httpswwwskinhealthinfoorgText"
      );
      if (httpswwwskinhealthinfoorgText) {
        httpswwwskinhealthinfoorgText.addEventListener("click", function () {
          window.open("https://www.skinhealthinfo.org.uk/a-z-conditions-treatments/");
        });
      }
      
      var aboutText1 = document.getElementById("aboutText1");
      if (aboutText1) {
        aboutText1.addEventListener("click", function (e) {
          window.location.href = "./about.html";
        });
      }
      
      var skinHealthAZ1 = document.getElementById("skinHealthAZ1");
      if (skinHealthAZ1) {
        skinHealthAZ1.addEventListener("click", function (e) {
          window.location.href = "./skin-health.html";
        });
      }
      
      var clinicalSolutionText1 = document.getElementById("clinicalSolutionText1");
      if (clinicalSolutionText1) {
        clinicalSolutionText1.addEventListener("click", function (e) {
          window.location.href = "./upload-photo-8.html";
        });
      }
      </script>
  </body>
</html>
