<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/globalll.css" />
    <link rel="stylesheet" href="/static/css/upload-photo-8.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chau Philomene One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo Black:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Darker Grotesque:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Black Han Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Amiko:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bellota Text:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aoboshi One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Days One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />

    <style>
      @font-face {
        font-family: "Nico Moji";
        src: url("./static/img/NicoMoji-Regular.ttf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="clinical-solution16">
      <section class="clinical-solution-inner">
        <div class="rectangle-parent41">
          <header class="frame-child39"></header>
          <div class="ai-tool-wrapper3">
            <h2 class="ai-tool16">AI-TOOL</h2>
          </div>
          <div class="about-wrapper5">
            <div class="about17" id="aboutText">About</div>
          </div>
          <div class="skin-health-a-z-wrapper8">
            <div class="skin-health-a-z16" id="skinHealthAZ">
              Skin Health A-Z
            </div>
          </div>
          <div class="clinical-solution-wrapper8">
            <div class="clinical-solution17">Clinical Solution</div>
          </div>
        </div>
      </section>
      <section class="clinical-solution-child">
        <div class="increase-revenue-and-improve-o-parent">
          <section class="increase-revenue-and">
            Increase revenue and improve outcomes
          </section>
          <div class="frame-wrapper14">
            <div class="skin-rash-identification-and-parent">
              <section class="skin-rash-identification-container">
                <p class="skin-rash-identification-and">
                  <b class="skin-rash">Skin rash: </b>
                  <span
                    >Identification and diagnosis through image analysis.</span
                  >
                </p>
                <p class="acne-treatment-recommending-p">
                  <b class="acne-treatment">Acne treatment:</b>
                  <span> Recommending personalized skincare routines.</span>
                </p>
                <p class="eczema-management-providing-m">
                  <b class="eczema-management">Eczema management: </b>
                  <span
                    >Providing medication reminders and lifestyle tips.</span
                  >
                </p>
                <p class="psoriasis-care-tracking-sympt">
                  <b class="psoriasis-care">Psoriasis care: </b>
                  <span
                    >Tracking symptoms and suggesting appropriate
                    therapies.</span
                  >
                </p>
                <p class="melanoma-detection-analyzing">
                  <b class="melanoma-detection">Melanoma detection:</b>
                  <span>
                    Analyzing mole changes and advising on dermatologist
                    visits.</span
                  >
                </p>
                <p class="wound-healing-support-monitor">
                  <b class="wound-healing-support">Wound healing support:</b>
                  <span>
                    Monitoring progress and suggesting wound care
                    products.</span
                  >
                </p>
                <p class="nail-disorders-providing-guid">
                  <b class="nail-disorders">Nail disorders:</b>
                  <span>
                    Providing guidance on proper nail care and treatment
                    options.</span
                  >
                </p>
                <p class="skin-cancer-prevention-educat">
                  <b class="skin-cancer-prevention">Skin cancer prevention:</b>
                  <span>
                    Educating on sun protection measures and regular skin
                    checks.</span
                  >
                </p>
              </section>
              <div class="frame-wrapper15">
                <button class="rectangle-parent42" id="groupButton">
                  <div class="frame-child40"></div>
                  <div class="get-started3">Get Started</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="doctorclipboard-h-z-s-t-e-h-h">
        <img
          class="waves-qfantaok-1-icon6"
          alt=""
          src="./static/img/wavesqfantaok-1@2x.png"
        />

        <img
          class="doctor-clipboard-01-hzstehha-1-icon6"
          loading="lazy"
          alt=""
          src="./static/img/doctorclipboard01hzstehha-1@2x.png"
        />
      </section>
      <footer class="rectangle-parent43">
        <div class="frame-child41"></div>
        <div class="ai-tool17">AI-TOOL</div>
        <div class="about-wrapper6">
          <div class="about18" id="aboutText1">About</div>
        </div>
        <div class="skin-health-a-z-wrapper9">
          <div class="skin-health-a-z17" id="skinHealthAZ1">
            Skin Health A-Z
          </div>
        </div>
        <div class="clinical-solution-wrapper9">
          <div class="clinical-solution18" id="clinicalSolutionText1">
            Clinical Solution
          </div>
        </div>
      </footer>
    </div>

    <script>
      var aboutText = document.getElementById("aboutText");
      if (aboutText) {
        aboutText.addEventListener("click", function (e) {
          window.location.href = "./about.html";
        });
      }
      
      var skinHealthAZ = document.getElementById("skinHealthAZ");
      if (skinHealthAZ) {
        skinHealthAZ.addEventListener("click", function (e) {
          window.location.href = "./skin-health.html";
        });
      }
      
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./login-desktop.html";
        });
      }
      
      var aboutText1 = document.getElementById("aboutText1");
      if (aboutText1) {
        aboutText1.addEventListener("click", function (e) {
          window.location.href = "./about.html";
        });
      }
      
      var skinHealthAZ1 = document.getElementById("skinHealthAZ1");
      if (skinHealthAZ1) {
        skinHealthAZ1.addEventListener("click", function (e) {
          window.location.href = "./skin-health.html";
        });
      }
      
      var clinicalSolutionText1 = document.getElementById("clinicalSolutionText1");
      if (clinicalSolutionText1) {
        clinicalSolutionText1.addEventListener("click", function (e) {
          window.location.href = "./upload-photo-8.html";
        });
      }
      </script>
  </body>
</html>
